<footer class="footer">
    <div class="container h-100 d-flex flex-column">
        <div class="row footer-top">
            <div class="col-2">
                <nav class="navbar navbar-default h-100">
                    <div class="container-fluid justify-content-start">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">
                                <img alt="Brand" class="footer-logo" src="images/logo.png">
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col align-self-center">
                <ul class="footer-list list-inline text-right">
                    <li class="d-inline">
                        <a class="h-100" href="instagram.com">
                            <i class="fa fa-instagram"></i>
                            Follow us on Instagram
                        </a>
                    </li>
                    <li class="d-inline">
                        <a class="h-100" href="facebook.com">
                            <i class="fa fa-facebook-official"></i>
                            Follow us on Facebook
                        </a>
                    </li>
                    <li class="d-inline">
                        <a class="h-100" href="twitter.com">
                            <i class="fa fa-twitter-square"></i>
                            Follow us on Twitter
                        </a>
                    </li>
                    <li class="d-inline">
                        <a class="h-100" href="youtube.com">
                            <i class="fa fa fa-youtube-play"></i>
                            Watch us on Youtube
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row h-100">
            <div class="col footer-sign text-center align-self-center">
                <span>Wayne Games 2018. All rights reserved.</span>
                <a href="/privacy">Privacy policy.</a>
                <a href="/terms">Terms of use</a>
            </div>
        </div>
    </div>
</footer>