<header class="container-fluid header">
    <div class="row h-100">
        <div class="col-lg-4 col-md-12">
            <nav class="navbar navbar-default h-100">
                <div class="container-fluid justify-content-center">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img alt="Brand" class="header-logo" src="images/logo.png">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-lg-6 offset-2 header-list">
            <nav class="navbar navbar-default navbar-fixed-bottom h-100">
                <div class="container text-center">
                    <ul class="list-inline">
                        <li class="d-inline">
                            <a class="h-100" href="/games">Games</a>
                        </li>
                        <li class="d-inline">
                            <a class="h-100" href="/technologies">Technologies</a>
                        </li>
                        <li class="d-inline">
                            <a class="h-100" href="/publishing">Publishing</a>
                        </li>
                        <li class="d-inline">
                            <a class="h-100" href="/contacts">Contact us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="header-menu">
            <div class="header-button" id="header_icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-menu_list">
                <ul class="list-inline text-center">
                    <li>
                        <a href="/games">Games</a>
                    </li>
                    <li>
                        <a href="/technologies">Technologies</a>
                    </li>
                    <li>
                        <a href="/publishing">Publishing</a>
                    </li>
                    <li>
                        <a href="/contacts">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>