{{> header}}
<main id="main">
    <section class="container terms-block">
        <div class="row">
            <div class="col text-center">
                <h1 class="font-weight-bold">WAYNE GAMES TERMS OF USE</h1>
                <div class="terms-content text-left">
                    <h2 class="font-weight-bold">1. About</h2>
                    <div class="terms-text">
                        <p>We are Playgendary GmbH, <a href="/">awdawd.awdawdawd.com</a> a company under laws of Germany, with registered address at: Landshuter Allee 8-10, 80637 Munich, Germany (“Playgendary” or “PG” or “We” or “Us”), is a developer and publisher of games and mobile game applications that are made available via app stores including the Apple Application Store and Google Play Store (our “Games”).</p>
                        <p>As a precondition for you using the Services, you must agree to these Terms of Service (“Agreement”). By using or otherwise accessing the Services, you agree to the Agreement. If you do not agree to the Agreement, you may not use or otherwise access the Services.</p>
                        <p>Unless otherwise specified by a component of the applicable Service, the Services are free to use or download but may contain features which may allow you to make purchases within the Services.</p>
                    </div>
                </div>

                <div class="terms-content text-left">
                    <h2 class="font-weight-bold">2. About</h2>
                    <div class="terms-text">
                        <p>We are Playgendary GmbH, a company under laws of Germany, with registered address at: Landshuter Allee 8-10, 80637 Munich, Germany (“Playgendary” or “PG” or “We” or “Us”), is a developer and publisher of games and mobile game applications that are made available via app stores including the Apple Application Store and Google Play Store (our “Games”).</p>
                        <p>As a precondition for you using the Services, you must agree to these Terms of Service (“Agreement”). By using or otherwise accessing the Services, you agree to the Agreement. If you do not agree to the Agreement, you may not use or otherwise access the Services.</p>
                        <p>Unless otherwise specified by a component of the applicable Service, the Services are free to use or download but may contain features which may allow you to make purchases within the Services.</p>
                    </div>
                </div>

                <div class="terms-content text-left">
                    <h2 class="terms-head">3. About</h2>
                    <div class="terms-text">
                        <p>We are Playgendary GmbH, a company under laws of Germany, with registered address at: Landshuter Allee 8-10, 80637 Munich, Germany (“Playgendary” or “PG” or “We” or “Us”), is a developer and publisher of games and mobile game applications that are made available via app stores including the Apple Application Store and Google Play Store (our “Games”).</p>
                        <p>As a precondition for you using the Services, you must agree to these Terms of Service (“Agreement”). By using or otherwise accessing the Services, you agree to the Agreement. If you do not agree to the Agreement, you may not use or otherwise access the Services.</p>
                        <p>Unless otherwise specified by a component of the applicable Service, the Services are free to use or download but may contain features which may allow you to make purchases within the Services.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer}}