{{> header}}
<main id="main">
    <section class="container-fluid main-small">
        <div class="main-elem text-center">
            <img src="images/banner2.jpg" class="img-fluid img-thumbnail p-0 border-0 rounded-0">
            <div class="main-info d-flex flex-column justify-content-center align-self-center animated fadeInUpBig">
                <h1>PUBLISHING</h1>
            </div>
        </div>
    </section>

    <section class="container pub-info">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center d-flex justify-content-center align-items-center">
                <img class="pub-info_left img-fluid img-thumbnail p-0 border-0 rounded-0" src="images/square1.jpg">
            </div>
            <div class="col-md-7 offset-md-1 col-sm-12 pub-info_right text-center d-flex flex-column justify-content-center align-items-center">
                <h2 class="text-primary">HEADING</h2>
                <p class="text-secondary">We’ve acquired over 60 million users this year. We release a new game every 2 months. We know how to publish games!</p>
                <a href="#" class=" d-block mx-auto rounded">START NOW</a>
            </div>
        </div>
    </section>

    <section class="container pub-row">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center">
                <img class="mx-auto" src="images/rapper.png">
                <h2>We get dollars</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <img class="mx-auto" src="images/rapper.png">
                <h2>We get dollars</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <img class="mx-auto" src="images/rapper.png">
                <h2>We get dollars</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row">
            <div class="col pub-list d-flex flex-wrap justify-content-center">
                {{#games}}
                <div class="pub-list_box">
                    <img src="images/games/{{id}}/{{icon}}">
                    <div class="pub-list_info">
                        <div class="pub-list_head text-center text-white">
                            <h3>{{name}}</h3>
                        </div>
                        <div class="pub-list_bottom text-center justify-content-center">
                            <p class="text-white mx-auto">{{desc}}</p>
                            <a href="/games/{{alias}}" class="btn d-block mx-auto align-self-bottom">VIEW MORE</a>
                        </div>
                    </div>
                </div>
                {{/games}}
            </div>
        </div>
    </section>

    <section class="container pub-info">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center d-flex justify-content-center align-items-center">
                <img class="pub-info_left img-fluid img-thumbnail p-0 border-0 rounded-0" src="images/square1.jpg">
            </div>
            <div class="col-md-7 offset-md-1 col-sm-12 pub-info_right text-center d-flex flex-column justify-content-center align-items-center">
                <h2 class="text-primary">HEADING</h2>
                <p class="text-secondary">We’ve acquired over 60 million users this year. We release a new game every 2 months. We know how to publish games!</p>
                <a href="#" class=" d-block mx-auto rounded">START NOW</a>
            </div>
        </div>
    </section>
</main>
{{> footer}}