{{> header}}
<main id="main">
    <section class="container-fluid main-small">
        <div class="main-elem text-center">
            <img src="images/banner2.jpg" class="img-fluid img-thumbnail p-0 border-0 rounded-0">
            <div class="main-info d-flex flex-column justify-content-center align-self-center animated fadeInUpBig">
                <h1>TECHNOLOGIES</h1>
            </div>
        </div>
    </section>

    <section class="container-fluid p-0 animated fadeInUpBig">
        <div class="main-wrapper mx-auto">
            <div class="row">
                <div class="col-md-6 col-sm-12 main-box p-0">
                    <img src="images/square1.jpg" class="img-fluid img-thumbnail p-0 border-0 rounded-0">
                    <div class="main-info d-flex justify-content-center align-items-center">
                        <h2>BLOCKCHAIN</h2>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 main-box p-0 bg-secondary text-center">
                    <div class="main-info d-flex flex-column justify-content-center align-items-center">
                        <h2>BLOCKCHAIN</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 main-box p-0 bg-secondary text-center">
                    <div class="main-info d-flex flex-column justify-content-center align-items-center">
                        <h2>BLOCKCHAIN</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 main-box p-0">
                    <img src="images/square1.jpg" class="img-fluid img-thumbnail p-0 border-0 rounded-0">
                    <div class="main-info d-flex justify-content-center align-items-center">
                        <h2>BLOCKCHAIN</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footer}}