<header class="container-fluid a_header">
    <div class="row h-100">
        <div class="col-4">
            <nav class="navbar navbar-default h-100">
                <div class="container-fluid justify-content-center">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img alt="Brand" class="a_header-logo" src="images/logo.png">
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-6 offset-2 a_header-list">
            <nav class="navbar navbar-default navbar-fixed-bottom h-100">
                <div class="container text-right justify-content-end">
                    <div class="btn btn-primary a_header-but" onClick="window.location.href='/admin/create';">Add game</div>
                    <div class="btn btn-light a_header-but" onClick="window.location.href='/admin/logout';">
                        <img src="images/exit.png">
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>